@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@font-face {
  font-family: grinched;
  src: url("./grinched-2-0/Grinched 2.0 DEMO.otf") format("opentype");
}

@font-face {
  font-family: grinched;
  font-weight: bold;
  src: url("./grinched-2-0/Grinched 2.0 DEMO.otf") format("opentype");
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

body.active {
  overflow: hidden;
}

.popup__bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 0, 0, 0.226);
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.popup__bg.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup {
  width: 268px;
  min-height: 215px;
  background-image: url(./images/popups/pop320.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 25px 16px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup .black__button {
  display: none;
}

.closer {
  width: 16px;
  height: 16px;
  background-image: url(./images/popups/killer.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 12px;
  right: 15px;
  background-color: transparent;
}

.popup__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #000000;
  gap: 16px;
}

.heady {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-family: grinched;
}

.heady__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 95px;
          flex: 0 0 95px;
  height: 88px;
  background-image: url(./images/popups/popy.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 150%;
  text-transform: uppercase;
  color: #ffffff;
}

.heady__img .spin__img {
  display: none;
  width: 100%;
  height: auto;
}

.spin__title {
  display: block;
}

.nodepo .heady__img {
  background: none;
}

.nodepo .promo__flex {
  display: none;
}

.nodepo .black__button {
  display: block;
}

.nodepo .red__button {
  display: none;
}

.nodepo .spin__title {
  display: block;
}

.nodepo .spin__img {
  display: block;
}

.nodepo .spin__title {
  display: none;
}

.nodepo .candy {
  display: none;
}

.heady__title {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.pop__title {
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.promo__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.copy {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(./images/popups/copy.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.promo__code {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding: 0 15px;
  background: #f1f1f1;
  border: 1px solid #5a5a5a;
  border-radius: 9px;
  color: #5a5a5a;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.prime__flex {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--base);
  color: var(--basetext);
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

header {
  position: relative;
}

.header__container {
  height: 568px;
  width: 100%;
  background-image: url(./images/ban320.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.logo__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  font-size: 40px;
  color: #ffffff;
  font-weight: 600;
  font-family: grinched;
}

.header__content {
  padding: 16px;
}

.tree {
  display: none;
  z-index: 3;
}

.deer__one,
.deer__two {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  position: absolute;
  bottom: 40px;
  right: -100%;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.deer__one {
  background-image: url(./images/header/first-deer.png);
  -webkit-animation-name: deer;
          animation-name: deer;
}

@-webkit-keyframes deer {
  0% {
    right: -100%;
  }
  10% {
    right: -10%;
  }
  20% {
    right: -10%;
  }
  30% {
    right: -10%;
  }
  40% {
    right: -10%;
  }
  50% {
    right: -100%;
  }
  60% {
    right: -100%;
  }
  70% {
    right: -100%;
  }
  80% {
    right: -100%;
  }
  90% {
    right: -100%;
  }
  100% {
    right: -100%;
  }
}

@keyframes deer {
  0% {
    right: -100%;
  }
  10% {
    right: -10%;
  }
  20% {
    right: -10%;
  }
  30% {
    right: -10%;
  }
  40% {
    right: -10%;
  }
  50% {
    right: -100%;
  }
  60% {
    right: -100%;
  }
  70% {
    right: -100%;
  }
  80% {
    right: -100%;
  }
  90% {
    right: -100%;
  }
  100% {
    right: -100%;
  }
}

.deer__two {
  background-image: url(./images/header/last-deer.png);
  -webkit-animation-name: deertwo;
          animation-name: deertwo;
}

@-webkit-keyframes deertwo {
  0% {
    right: -100%;
  }
  10% {
    right: -100%;
  }
  20% {
    right: -100%;
  }
  30% {
    right: -100%;
  }
  40% {
    right: -100%;
  }
  50% {
    right: -100%;
  }
  60% {
    right: -10%;
  }
  70% {
    right: -10%;
  }
  80% {
    right: -10%;
  }
  90% {
    right: -10%;
  }
  100% {
    right: -100%;
  }
}

@keyframes deertwo {
  0% {
    right: -100%;
  }
  10% {
    right: -100%;
  }
  20% {
    right: -100%;
  }
  30% {
    right: -100%;
  }
  40% {
    right: -100%;
  }
  50% {
    right: -100%;
  }
  60% {
    right: -10%;
  }
  70% {
    right: -10%;
  }
  80% {
    right: -10%;
  }
  90% {
    right: -10%;
  }
  100% {
    right: -100%;
  }
}

.main__title {
  font-family: grinched;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.sub__titile {
  font-weight: 600;
  font-size: 17px;
  line-height: 150%;
  margin-bottom: 8px;
}

.small__title {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.04em;
  margin-bottom: 30px;
}

.red__button,
.black__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 180px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 43px;
  padding: 0 1.5em;
  border: solid 3px;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.red__button {
  border-color: #aa170c;
  -webkit-box-shadow: 4px 4px 0px #aa170c;
          box-shadow: 4px 4px 0px #aa170c;
  color: #aa170c;
}

.black__button {
  border-color: #000000;
  -webkit-box-shadow: 4px 4px 0px #000000;
          box-shadow: 4px 4px 0px #000000;
  color: #000000;
}

.footer__text {
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
}

.menu__container {
  display: none;
}

.steps__box {
  width: 100%;
  height: 579px;
  background-image: url(./images/cloud320.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 25px;
  padding: 0 16px;
  font-family: grinched;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s2 {
  position: relative;
  left: -50px;
}

.gift {
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  margin-right: 10px;
}

.g1 {
  background-image: url(./images/g1.png);
}

.g2 {
  background-image: url(./images/g2.png);
}

.g3 {
  background-image: url(./images/g3.png);
}

.g4 {
  background-image: url(./images/g4.png);
}

.step__num {
  font-weight: normal;
  font-size: 50px;
  line-height: 54px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.red {
  color: #aa170c;
}

.blue {
  color: #448b91;
}

.yellow {
  color: #f8b229;
}

.green {
  color: #287f4b;
}

.step__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.fworks {
  position: absolute;
  width: 60%;
  background: url(./images/Fireworks.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: 20px;
  left: 0;
}

.fworks::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 72%;
}

.cristmas__car {
  position: absolute;
  width: 216px;
  height: 233px;
  background: url(./images/ccar.png);
  background-size: cover;
  background-repeat: no-repeat;
  bottom: -90px;
  left: 0;
  z-index: 1;
  background-position: center;
}

.vilage {
  width: 100%;
  height: 569px;
  background-image: url(./images/vilage/v320.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 78px 0 40px;
  position: relative;
}

.vilage .top__grad {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #03021a), to(rgba(1, 16, 50, 0)));
  background: linear-gradient(180deg, #03021a 25%, rgba(1, 16, 50, 0) 100%);
}

.vilage .bottom__grad {
  height: 75px !important;
}

.top__grad {
  width: 100%;
  height: 30px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #011032), to(rgba(1, 16, 50, 0)));
  background: linear-gradient(180deg, #011032 25%, rgba(1, 16, 50, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.hoho {
  width: 100%;
  max-width: 1920px;
  height: 150px;
  background-image: url(./images/hoho.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.bottom__grad {
  width: 100%;
  height: 30px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #011032), to(rgba(1, 16, 50, 0)));
  background: linear-gradient(0deg, #011032 25%, rgba(1, 16, 50, 0) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.lucky__title {
  font-family: grinched;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.moneybag {
  width: 235px;
  height: 236px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 34px;
  position: relative;
}

.moneybag .black__button {
  z-index: 2;
}

.shaker {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./images/vilage/moneybag.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation-name: zoomer;
          animation-name: zoomer;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes zoomer {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomer {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.to__shake {
  -webkit-animation-name: shaker;
          animation-name: shaker;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-iteration-count: 0.2s;
          animation-iteration-count: 0.2s;
}

@-webkit-keyframes shaker {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shaker {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

footer {
  background-image: url(./images/footer/f320.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

footer .wrapper {
  padding: 65px 27px 30px;
}

.footer__text {
  font-weight: normal;
  font-size: 10px;
  line-height: 127.9%;
}

.footer__box {
  margin-bottom: 30px;
}

.logos__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  gap: 10px;
}

.fim1 {
  width: 31.68px;
  height: 24.56px;
}

.fim2 {
  width: 23px;
  height: 23px;
}

.fim3 {
  width: 53.39px;
  height: 18.51px;
}

.fim4 {
  width: 87.21px;
  height: 15.31px;
}

@media screen and (min-width: 375px) {
  .header__container {
    height: 667px;
    background-image: url(./images/ban320.png);
  }
  .bigdeer {
    width: 124px;
    height: 215px;
    bottom: 220px;
    right: -21px;
  }
  .steps__box {
    height: 735px;
    background-image: url(./images/cloud375.png);
  }
  .vilage {
    height: 667px;
    background-image: url(./images/vilage/v375.png);
  }
  footer {
    background-image: url(./images/footer/f375.png);
  }
  footer .wrapper {
    padding: 65px 55px 30px;
  }
}

@media screen and (min-width: 540px) {
  .popup.nodepo {
    padding-top: 40px;
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .popup.nodepo .heady {
    gap: 10px;
  }
  .popup.nodepo .black__button {
    position: absolute;
    bottom: 40px;
    right: 60px;
  }
  .popup.nodepo .heady__title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-top: 10px;
  }
  .popup.nodepo .pop__title br {
    display: none;
  }
  .popup {
    width: 426px;
    padding: 22px 25px;
    background-image: url(./images/popups/pop540.png);
  }
  .closer {
    width: 24px;
    height: 24px;
    right: 20px;
  }
  .heady {
    padding: 0 13px;
    gap: 70px;
  }
  .heady__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pop__title {
    font-size: 20px;
    line-height: 31px;
    text-align: center;
  }
  .heady__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 119px;
            flex: 0 0 119px;
    height: 110px;
  }
  .popup__flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .promo__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .promo__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  .promo__code {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .wrapper {
    padding: 0 30px;
  }
  .header__container {
    height: 659px;
    background-image: url(./images/ban540.png);
  }
  .header__content {
    padding: 0 32px;
  }
  .tree {
    display: block;
    background-image: url(./images/header/tree.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 350px;
    position: absolute;
    right: -140px;
    bottom: 0;
    background-position: bottom right;
  }
  .deer__one,
  .deer__two {
    width: 200px;
    height: 200px;
    bottom: 240px;
  }
  @-webkit-keyframes deer {
    0% {
      right: -100%;
    }
    10% {
      right: 80px;
    }
    20% {
      right: 80px;
    }
    30% {
      right: 80px;
    }
    40% {
      right: 80px;
    }
    50% {
      right: -100%;
    }
    60% {
      right: -100%;
    }
    70% {
      right: -100%;
    }
    80% {
      right: -100%;
    }
    90% {
      right: -100%;
    }
    100% {
      right: -100%;
    }
  }
  @keyframes deer {
    0% {
      right: -100%;
    }
    10% {
      right: 80px;
    }
    20% {
      right: 80px;
    }
    30% {
      right: 80px;
    }
    40% {
      right: 80px;
    }
    50% {
      right: -100%;
    }
    60% {
      right: -100%;
    }
    70% {
      right: -100%;
    }
    80% {
      right: -100%;
    }
    90% {
      right: -100%;
    }
    100% {
      right: -100%;
    }
  }
  @-webkit-keyframes deertwo {
    0% {
      right: -100%;
    }
    10% {
      right: -100%;
    }
    20% {
      right: -100%;
    }
    30% {
      right: -100%;
    }
    40% {
      right: -100%;
    }
    50% {
      right: -100%;
    }
    60% {
      right: 80px;
    }
    70% {
      right: 80px;
    }
    80% {
      right: 80px;
    }
    90% {
      right: 80px;
    }
    100% {
      right: -100%;
    }
  }
  @keyframes deertwo {
    0% {
      right: -100%;
    }
    10% {
      right: -100%;
    }
    20% {
      right: -100%;
    }
    30% {
      right: -100%;
    }
    40% {
      right: -100%;
    }
    50% {
      right: -100%;
    }
    60% {
      right: 80px;
    }
    70% {
      right: 80px;
    }
    80% {
      right: 80px;
    }
    90% {
      right: 80px;
    }
    100% {
      right: -100%;
    }
  }
  .steps__box {
    height: 591px;
    background-image: url(./images/cloud540.png);
  }
  .gift {
    width: 57px;
    height: 57px;
  }
  .step__num {
    font-size: 70px;
    line-height: 74px;
  }
  .s2 {
    left: -100px;
  }
  .step__text {
    font-size: 20px;
    line-height: 31px;
  }
  .vilage {
    height: 490px;
    background-image: url(./images/vilage/v540.png);
  }
  footer {
    background-image: url(./images/footer/f540.png);
  }
  footer .wrapper {
    padding: 70px 82px 30px;
  }
}

@media screen and (min-width: 768px) {
  .popup.nodepo {
    padding: 67px 31px;
  }
  .popup.nodepo .black__button {
    right: 180px;
    bottom: 75px;
  }
  .popup {
    width: 628px;
    padding: 27px 41px;
    background-image: url(./images/popups/pop768.png);
  }
  .popup a {
    position: relative;
    top: -30px;
  }
  .closer {
    width: 31px;
    height: 31px;
    right: 35px;
    top: 20px;
  }
  .popup__flex {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 10px 68px;
  }
  .pop__title {
    font-size: 25px;
    line-height: 39px;
  }
  .heady {
    padding: 0;
  }
  .heady__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 187px;
            flex: 0 0 187px;
    height: 172px;
    font-size: 27px;
    line-height: 42px;
    position: relative;
  }
  .candy {
    width: 68px;
    height: 108px;
    background-image: url(./images/popups/candy.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -10px;
    right: -25px;
  }
  .heady__title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .promo__title {
    font-size: 25px;
    line-height: 30px;
  }
  .promo__code {
    height: 60px;
    border: 2px solid #5a5a5a;
    border-radius: 17px;
    font-size: 20px;
    line-height: 24px;
  }
  .top__grad,
  .bottom__grad {
    height: 30px;
  }
  .header__container {
    height: 490px;
    background-image: url(./images/ban768.png);
  }
  .button__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .red__button {
    margin-right: 18px;
  }
  .tree {
    right: 0;
    width: 250px;
  }
  .deer__one,
  .deer__two {
    bottom: 150px;
  }
  @-webkit-keyframes deer {
    0% {
      right: -100%;
    }
    10% {
      right: 170px;
    }
    20% {
      right: 170px;
    }
    30% {
      right: 170px;
    }
    40% {
      right: 170px;
    }
    50% {
      right: -100%;
    }
    60% {
      right: -100%;
    }
    70% {
      right: -100%;
    }
    80% {
      right: -100%;
    }
    90% {
      right: -100%;
    }
    100% {
      right: -100%;
    }
  }
  @keyframes deer {
    0% {
      right: -100%;
    }
    10% {
      right: 170px;
    }
    20% {
      right: 170px;
    }
    30% {
      right: 170px;
    }
    40% {
      right: 170px;
    }
    50% {
      right: -100%;
    }
    60% {
      right: -100%;
    }
    70% {
      right: -100%;
    }
    80% {
      right: -100%;
    }
    90% {
      right: -100%;
    }
    100% {
      right: -100%;
    }
  }
  @-webkit-keyframes deertwo {
    0% {
      right: -100%;
    }
    10% {
      right: -100%;
    }
    20% {
      right: -100%;
    }
    30% {
      right: -100%;
    }
    40% {
      right: -100%;
    }
    50% {
      right: -100%;
    }
    60% {
      right: 170px;
    }
    70% {
      right: 170px;
    }
    80% {
      right: 170px;
    }
    90% {
      right: 170px;
    }
    100% {
      right: -100%;
    }
  }
  @keyframes deertwo {
    0% {
      right: -100%;
    }
    10% {
      right: -100%;
    }
    20% {
      right: -100%;
    }
    30% {
      right: -100%;
    }
    40% {
      right: -100%;
    }
    50% {
      right: -100%;
    }
    60% {
      right: 170px;
    }
    70% {
      right: 170px;
    }
    80% {
      right: 170px;
    }
    90% {
      right: 170px;
    }
    100% {
      right: -100%;
    }
  }
  .footer__text {
    font-size: 12px;
    line-height: 15px;
  }
  .logos__box {
    height: 41px;
  }
  .fworks {
    width: 40%;
  }
  .steps__box {
    height: 554px;
    background-image: url(./images/cloud768.png);
    position: relative;
    padding-right: 60px;
  }
  .s2 {
    position: relative;
    left: -50px;
    margin-bottom: 60px;
  }
  .s1 {
    right: 350px;
    position: absolute;
  }
  .s4 {
    position: relative;
    left: -50px;
  }
  .gift {
    width: 56px;
    height: 56px;
  }
  .step__num {
    font-size: 60px;
    line-height: 64px;
  }
  .step__text {
    font-size: 15px;
    line-height: 23px;
  }
  .cristmas__car {
    width: 306px;
    height: 284px;
    bottom: -25px;
  }
  .vilage {
    height: 490px;
    background-image: url(./images/vilage/v768.png);
  }
  .moneybag {
    width: 267px;
    height: 268px;
  }
  footer {
    background-image: url(./images/footer/f768.png);
  }
  footer .wrapper {
    padding: 90px 75px 38px;
  }
  .footer__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 127.9%;
  }
  .logos__box {
    gap: 18px;
  }
  .fim1 {
    width: 51.96px;
    height: 40.28px;
  }
  .fim2 {
    width: 38.08px;
    height: 38.08px;
  }
  .fim3 {
    width: 86.97px;
    height: 27.02px;
  }
  .fim4 {
    width: 135.95px;
    height: 17.73px;
  }
}

@media screen and (min-width: 1024px) {
  .popup.nodepo {
    padding: 82px 54px 117px;
  }
  .popup.nodepo .heady {
    gap: 50px;
  }
  .popup {
    width: 697px;
    padding: 55px 60px 35px;
    background-image: url(./images/popups/pop1024.png);
  }
  .popup__flex {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 10px 115px;
  }
  .heady__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 213px;
            flex: 0 0 213px;
    height: 196px;
    font-size: 27px;
    line-height: 42px;
    position: relative;
  }
  .top__grad,
  .bottom__grad {
    height: 40px;
  }
  .header__container {
    height: 800px;
    background-image: url(./images/ban1024.png);
  }
  .header__content {
    width: 100%;
    max-width: 1214px;
    margin: 0 auto;
    padding: 32px;
  }
  .logo__box {
    height: 56px;
    padding: 42px;
  }
  .main__title {
    font-weight: normal;
    font-size: 40px;
    line-height: 63px;
    letter-spacing: 0.04em;
  }
  .sub__titile {
    font-weight: 600;
    font-size: 29px;
    line-height: 150%;
    /* or 43px */
  }
  .small__title {
    font-weight: 500;
    font-size: 23px;
    line-height: 150%;
    margin-bottom: 40px;
  }
  .red__button,
  .black__button {
    height: 57px;
    font-weight: 900;
    font-size: 19px;
  }
  .red__button {
    margin-right: 24px;
  }
  .tree {
    width: 390px;
  }
  .deer__one,
  .deer__two {
    width: 250px;
    height: 250px;
    bottom: 335px;
  }
  @-webkit-keyframes deer {
    0% {
      right: -100%;
    }
    10% {
      right: 250px;
    }
    20% {
      right: 250px;
    }
    30% {
      right: 250px;
    }
    40% {
      right: 250px;
    }
    50% {
      right: -100%;
    }
    60% {
      right: -100%;
    }
    70% {
      right: -100%;
    }
    80% {
      right: -100%;
    }
    90% {
      right: -100%;
    }
    100% {
      right: -100%;
    }
  }
  @keyframes deer {
    0% {
      right: -100%;
    }
    10% {
      right: 250px;
    }
    20% {
      right: 250px;
    }
    30% {
      right: 250px;
    }
    40% {
      right: 250px;
    }
    50% {
      right: -100%;
    }
    60% {
      right: -100%;
    }
    70% {
      right: -100%;
    }
    80% {
      right: -100%;
    }
    90% {
      right: -100%;
    }
    100% {
      right: -100%;
    }
  }
  @-webkit-keyframes deertwo {
    0% {
      right: -100%;
    }
    10% {
      right: -100%;
    }
    20% {
      right: -100%;
    }
    30% {
      right: -100%;
    }
    40% {
      right: -100%;
    }
    50% {
      right: -100%;
    }
    60% {
      right: 250px;
    }
    70% {
      right: 250px;
    }
    80% {
      right: 250px;
    }
    90% {
      right: 250px;
    }
    100% {
      right: -100%;
    }
  }
  @keyframes deertwo {
    0% {
      right: -100%;
    }
    10% {
      right: -100%;
    }
    20% {
      right: -100%;
    }
    30% {
      right: -100%;
    }
    40% {
      right: -100%;
    }
    50% {
      right: -100%;
    }
    60% {
      right: 250px;
    }
    70% {
      right: 250px;
    }
    80% {
      right: 250px;
    }
    90% {
      right: 250px;
    }
    100% {
      right: -100%;
    }
  }
  .steps__box {
    height: 831px;
    background-image: url(./images/cloud1024.png);
    gap: 85px;
    padding-right: 88px;
  }
  .s1 {
    right: 500px;
  }
  .s2 {
    margin-bottom: 0;
  }
  .gift {
    width: 102.66px;
    height: 113.73px;
  }
  .step__num {
    font-size: 70px;
    line-height: 74px;
  }
  .step__text {
    font-size: 20px;
    line-height: 31px;
  }
  .cristmas__car {
    width: 378px;
    height: 351px;
  }
  .vilage {
    height: 800px;
    background-image: url(./images/vilage/v1024.png);
  }
  .moneybag {
    width: 374px;
    height: 375px;
    padding-bottom: 80px;
  }
  footer {
    background-image: url(./images/footer/f1024.png);
  }
  footer .wrapper {
    padding: 135px 30px 30px;
  }
  .footer__text {
    font-weight: normal;
    font-size: 17px;
    line-height: 127.9%;
  }
  .logos__box {
    gap: 24px;
  }
  .fim1 {
    width: 65.91px;
    height: 51.1px;
  }
  .fim2 {
    width: 48.3px;
    height: 48.3px;
  }
  .fim3 {
    width: 111.08px;
    height: 38.51px;
  }
  .fim4 {
    width: 181.43px;
    height: 31.84px;
  }
}

@media screen and (min-width: 1440px) {
  .popup.nodepo {
    padding: 91px 101px 218px;
  }
  .popup.nodepo .heady {
    gap: 160px;
  }
  .popup.nodepo .pop__title br {
    display: block;
  }
  .popup.nodepo .black__button {
    right: 250px;
    bottom: 180px;
  }
  .popup {
    width: 1080px;
    background-image: url(./images/popups/pop1440.png);
    padding: 103px 83px 117px;
  }
  .closer {
    width: 49px;
    height: 49px;
    right: 65px;
    top: 30px;
  }
  .popup__flex {
    gap: 20px 140px;
  }
  .heady {
    gap: 110px;
  }
  .heady__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 284px;
            flex: 0 0 284px;
    height: 260px;
    font-size: 37px;
    line-height: 58px;
  }
  .candy {
    width: 160px;
    height: 220px;
    top: -50px;
    right: -50px;
  }
  .promo__flex {
    padding-left: 20px;
  }
  .pop__title {
    font-size: 50px;
    line-height: 78px;
  }
  .copy {
    width: 30px;
    height: 30px;
  }
  .promo__title {
    font-size: 30px;
    line-height: 36px;
  }
  .promo__code {
    height: 75px;
    font-size: 30px;
    line-height: 36px;
  }
  .top__grad,
  .bottom__grad {
    height: 65px;
  }
  .header__container {
    height: 800px;
    background-image: url(./images/ban1440.png);
  }
  .red__button,
  .black__button {
    height: 76px;
    border-width: 8px;
    font-size: 25px;
  }
  .red__button {
    margin-right: 48px;
  }
  .deer__one,
  .deer__two {
    width: 300px;
    height: 300px;
  }
  .steps__box {
    height: 884px;
    background-image: url(./images/cloud1440.png);
    padding-right: 200px;
  }
  .s1 {
    right: 800px;
  }
  .s2 {
    left: -150px;
  }
  .s4 {
    left: -150px;
  }
  .gift {
    width: 116.98px;
    height: 129.59px;
  }
  .step__num {
    font-size: 90px;
    line-height: 94px;
  }
  .step__text {
    font-size: 25px;
    line-height: 39px;
  }
  .cristmas__car {
    width: 431px;
    height: 400px;
    bottom: 30px;
  }
  .vilage {
    height: 800px;
    background-image: url(./images/vilage/v1440.png);
  }
  .lucky__title {
    font-size: 45px;
    line-height: 70px;
    letter-spacing: 0.04em;
  }
  .moneybag {
    width: 430px;
    height: 431px;
  }
  footer {
    background-image: url(./images/footer/f1440.png);
  }
  footer .wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 165px 0px 30px;
  }
  .logos__box {
    gap: 32px;
  }
  .fim1 {
    width: 89px;
    height: 69px;
  }
  .fim2 {
    width: 65.23px;
    height: 65.23px;
  }
  .fim3 {
    width: 150px;
    height: 52px;
  }
  .fim4 {
    width: 245px;
    height: 43px;
  }
}

@media screen and (min-width: 1920px) {
  .popup.nodepo {
    padding: 194px 101px 210px;
  }
  .popup.nodepo .black__button {
    right: 345px;
  }
  .popup {
    width: 1242px;
    padding: 120px 95px 143px;
    background-image: url(./images/popups/pop1920.png);
  }
  .popup__flex {
    gap: 20px 193px;
  }
  .heady__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 326px;
            flex: 0 0 326px;
    height: 300px;
    font-size: 43px;
    line-height: 67px;
  }
  .candy {
    width: 184px;
    height: 251px;
    top: -100px;
  }
  .top__grad,
  .bottom__grad {
    height: 75px;
  }
  .header__container {
    height: 920px;
    background-image: url(./images/ban1920.png);
  }
  .header__content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
  .main__title {
    font-weight: normal;
    font-size: 50px;
    line-height: 78px;
    letter-spacing: 0.04em;
  }
  .sub__titile {
    font-weight: 600;
    font-size: 38px;
  }
  .small__title {
    font-weight: 500;
    font-size: 28px;
  }
  .red__button,
  .black__button {
    height: 86px;
    border-width: 14px;
    font-size: 30 px;
  }
  .red__button {
    margin-right: 28 px;
  }
  .steps__box {
    height: 1000px;
    background-image: url(./images/cloud1920.png);
  }
  .s1 {
    right: 800px;
  }
  .s2 {
    left: -250px;
  }
  .s4 {
    left: -250px;
  }
  .cristmas__car {
    width: 527px;
    height: 489px;
  }
  .vilage {
    height: 920px;
    background-image: url(./images/vilage/v1920.png);
  }
  .lucky__title {
    font-size: 50px;
    line-height: 78px;
  }
  .moneybag {
    width: 660px;
    height: 661px;
    padding-bottom: 150px;
  }
}
/*# sourceMappingURL=style.css.map */