<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="nullstyle.css">
	<link rel="stylesheet" href="colors.css">
</head>

<body>
	<div class="prime__flex">
		<header>
			<div class="header__container">
				<div class="logo__box">
					<a href="/" class="logo"></a>
				</div>
				<div class="header__content">
					<p class="main__title">
						Merry Christmas <br> and Happy New Year!
					</p>
					<p class="sub__titile">
						Shake the Santa's red bag <br> and win a Bonus!
					</p>
					<p class="small__title">
						*You can claim only 1 bonus per day!
					</p>
					<div class="button__flex">
						<a href="#the__bag" class="red__button">shake the bag</a>
						<a href="#the__rules" class="black__button">how to get?</a>
					</div>
				</div>
				<div class="deer__one"></div>
				<div class="deer__two"></div>
				<div class="tree"></div>
			</div>
			<div class="bottom__grad"></div>
		</header>
		<div class="content">
			<div class="steps__box" id="the__rules">
				<!-- <div class="top__grad"></div> -->
				<div class="hoho"></div>
				<div class="step s1">
					<span class="gift g1"></span>
					<p class="step__num red">1</p>
					<p class="step__text one">Shake the bag <br> and win a Bonus !!
					</p>
				</div>
				<div class="step s2">
					<span class="gift g2"></span>
					<p class="step__num blue">2</p>
					<p class="step__text two">Register or LogIn <br> in your account !!
					</p>
				</div>
				<div class="step s3">
					<span class="gift g3"></span>
					<p class="step__num yellow">3</p>
					<p class="step__text three">Request your Bonus <br> in Live chat !!
					</p>
				</div>
				<div class="step s4">
					<span class="gift g4"></span>
					<p class="step__num green">4</p>
					<p class="step__text four">Enjoy your day in <br> Wild Tokyo! !!
					</p>
				</div>
				<div class="fworks"></div>
				<div class="cristmas__car"></div>
			</div>
			<div class="vilage" id="the__bag">
				<div class="top__grad"></div>
				<p class="lucky__title">try your luck</p>
				<div class="moneybag">
					<div class="shaker "></div>
					<button class="black__button shaka">shake the bag</button>
				</div>
				<div class="bottom__grad"></div>
			</div>
		</div>
		<footer>
			<div class="top__grad"></div>
			<div class="hoho"></div>
			<div class="wrapper">
				<div class="footer__box">
					<p class="footer__text">
						Rollingslots.com is operated by GBL Solutions N.V. with the registered address Perseusweg, 27A,
						Willemstad, Curacao and Registration Number 155090, which is the Holder of E- gaming License No.
						8048/JAZ2020-070 issued by Central Government of the Netherland Antilles, and has its Subsidiary
						Company Ramtinar Techconsult Limited, which is a Payment Agent of GBL Solutions N.V., with a
						registered address at Atho, 6, 4th floor, Flat/Office 401, 1087, Nicosia, Cyprus and with
						Registration Number HE 412602. EU company Ramtinar Techconsult Limited acts as a EU-EEA
						Representative of Licensed Entity GBL Solutions N.V. Contact us via phone: +35725654106. Email:
						support@rollingslots.com
					</p>
				</div>
				<div class="logos__box">
					<img src="./images/footer/ver.svg" alt="" class="fim1">
					<img src="./images/footer/teen.svg" alt="" class="fim2">
					<img src="./images/footer/com.svg" alt="" class="fim3">
					<img src="./images/footer/be.svg" alt="" class="fim4">
				</div>
			</div>
		</footer>
		<div class="popup__bg winner">
			<div class="popup ">
				<button class="killer"></button>
				<div class="popup__flex">
					<div class="heady">
						<div class="heady__img ">
							<p>10 Free Spins <br> No deposit</p>
							<div class="candy"></div>
						</div>
						<div class="heady__title">
							<p class="pop__title">congratulations <br> you won a bonus !</p>
						</div>
					</div>
					<div class="promo__flex">
						<div class="promo__title">
							<span class="copy"></span> promo code
						</div>
						<div class="promo__code">`${{gift}}`
						</div>
					</div>
					<a href="#" class="red__button">take your bonus
					</a>
				</div>
			</div>
		</div>
		<div class="popup__bg loozer">
			<div class="popup nodepo ">
				<button class="killer"></button>
				<div class="popup__flex">
					<div class="heady">
						<div class="heady__img ">
							<img src="./images/popups/deercard.png" alt="">
						</div>
						<div class="heady__title">
							<p class="pop__title">What a miss, <br> try again!
							</p>
						</div>
					</div>
					<button class="black__button">shake the bag
					</button>
				</div>
			</div>
		</div>
	</div>
	<script src="./script.js"></script>
</body>

</html>