@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
.prime__flex {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--base);
	color: var(--basetext);
	font-family: "Montserrat", sans-serif;
}
.wrapper {
	padding: 0 15px;
}
.content {
	flex: auto;
}
.logo__box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
}
.logo {
	display: block;
	width: 93.74px;
	height: 44.18px;
	background-image: url(./images/Logo.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.banner {
	background-image: url(./images/tff.png), url(./images/boom.png), url(./images/gala.png), url(./images/tffw.png),
		url(./images/super.png);
	background-repeat: no-repeat;
	background-position: left -15px bottom 0, left 0 bottom 0, left 0 top 0, right 0 bottom 20px, right 0 top 0;
	width: 100%;
	height: 330px;
}
.top__flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 50px 0 80px;
}
.text__img {
	img {
		display: block;
		width: 241.31px;
		height: 25px;
	}
}
.text__box {
	padding: 15px 0 25px;
}
.t {
	&__title {
		font-style: italic;
		font-weight: 900;
		font-size: 25px;
		line-height: 35px;
		text-align: center;
		color: var(--yellow);
		text-shadow: 0px 0px 1px #ffbc0d, 0px 0px 3px rgba(255, 188, 13, 0.4), 0px 0px 9px rgba(255, 188, 13, 0.4);
	}
}
.button {
	&__box {
	}
}
.join__button {
	height: 55px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
	border-radius: 3px;
	text-transform: uppercase;
	background-color: var(--yellow);
	color: var(--base);
	font-weight: 600;
	font-size: 25px;
}
.how {
	&__title {
		display: flex;
		justify-content: center;
		position: relative;
	}
}
.w {
	&__title {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #e4e4e4;
		position: relative;
		top: -20px;
		&::first-letter {
			text-transform: uppercase;
		}
	}
}
.steps__box {
}
.step__item {
	padding-left: ;
}
.big {
}
.small {
}
.bonus {
	&__small {
	}

	&__big {
	}
}
.footer {
	&__text {
		font-weight: normal;
		font-size: 9px;
		line-height: 12px;
	}
}
.logos__box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
	img {
		margin: 0 5px;
	}
}
