.prime__flex {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content {
	flex: auto;
}
.logo {
}
.banner {
}
.top {
	&__flex {
	}
}
.text {
	&__img {
	}

	&__box {
	}
}
.t {
	&__title {
	}
}
.button {
	&__box {
	}
}
.join {
	&__button {
	}
}
.how {
	&__title {
	}
}
.w {
	&__title {
	}
}
.steps {
	&__box {
	}
}
.step {
	&__item {
	}
}
.big {
}
.small {
}
.bonus {
	&__small {
	}

	&__big {
	}
}
.footer {
	&__text {
	}
}
.logos {
	&__box {
	}
}
