.prime__flex {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--base);
	color: var(--basetext);
}

.content {
	flex: auto;
}
.logo__box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
}
.logo {
	display: block;
	width: 93.74px;
	height: 44.18px;
	background-image: url(./images/Logo.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.banner {
}
.top {
	&__flex {
	}
}
.text {
	&__img {
	}

	&__box {
	}
}
.t {
	&__title {
	}
}
.button {
	&__box {
	}
}
.join {
	&__button {
	}
}
.how {
	&__title {
	}
}
.w {
	&__title {
	}
}
.steps {
	&__box {
	}
}
.step {
	&__item {
	}
}
.big {
}
.small {
}
.bonus {
	&__small {
	}

	&__big {
	}
}
.footer {
	&__text {
	}
}
.logos {
	&__box {
	}
}
