@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
.prime__flex {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--base);
	color: var(--basetext);
	font-family: "Inter", sans-serif;
}
.wrapper {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}
.content {
	flex: auto;
}
.header__container {
	height: 568px;
	width: 100%;
	background-image: url(./images/ban320.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
.logo__box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
}
.logo {
	display: block;
	width: 93.74px;
	height: 44.18px;
	background-image: url(./images/header/logo.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.header__content {
	padding: 16px;
}
.tree {
	display: none;
	z-index: 3;
}
.deer__one {
	width: 146px;
	height: 194px;
	background-image: url(./images/header/deer1s.png);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
	position: absolute;
	right: 0;
	bottom: 40px;
}
.deer__two {
	display: none;
	width: 350px;
	height: 350px;
	background-image: url(./images/header/deer2.png);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
	position: absolute;
	right: 0px;
	bottom: 100px;
}
.main__title {
	font-family: "Irish Grover", cursive;
	font-size: 30px;
	line-height: 35px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.sub__titile {
	font-weight: 600;
	font-size: 17px;
	line-height: 150%;
	margin-bottom: 8px;
}
.small__title {
	font-weight: 600;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 0.04em;
	margin-bottom: 30px;
}
.button__flex {
}
.red__button,
.black__button {
	display: flex;
	min-width: 180px;
	justify-content: center;
	align-items: center;
	height: 43px;
	padding: 0 20px;
	border: solid 3px;
	font-weight: 900;
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 18px;
	text-transform: uppercase;
	background-color: #ffffff;
}
.red__button {
	border-color: #aa170c;
	box-shadow: 4px 4px 0px #aa170c;
	color: #aa170c;
}
.black__button {
	border-color: #000000;
	box-shadow: 4px 4px 0px #000000;
	color: #000000;
}

.footer {
	&__text {
		font-weight: normal;
		font-size: 9px;
		line-height: 12px;
	}
}
.menu__container {
	display: none;
}

.footer__box {
	margin: 30px 0 24px;
}
.logos__box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
	height: 30px;

	img {
		height: 60%;
		width: auto;
		margin: 0 5px;
	}
}

@media screen and (min-width: 375px) {
	.header__container {
		height: 667px;
		background-image: url(./images/ban320.png);
	}
}
@media screen and (min-width: 540px) {
	.wrapper {
		padding: 0 30px;
	}
	.header__container {
		height: 659px;
		background-image: url(./images/ban540.png);
	}
	.tree {
		display: block;
		background-image: url(./images/header/tree.png);
		background-repeat: no-repeat;
		background-size: contain;
		height: 100%;
		width: 350px;
		position: absolute;
		right: -140px;
		bottom: 0;
		background-position: bottom right;
	}
	.deer__one {
		width: 180px;
		height: 180px;
		right: 95px;
		bottom: 270px;
	}
}
@media screen and (min-width: 768px) {
	.header__container {
		height: 490px;
		background-image: url(./images/ban768.png);
	}
	.button__flex {
		display: flex;
	}
	.red__button {
		margin-right: 18px;
	}
	.tree {
		right: 0;
		width: 250px;
	}
	.deer__one {
		right: 180px;
		bottom: 200px;
	}
	.footer__text {
		font-size: 12px;
		line-height: 15px;
	}
	.logos__box {
		height: 41px;
	}
}
@media screen and (min-width: 1024px) {
	.header__container {
		height: 800px;
		background-image: url(./images/ban1024.png);
	}
	.logo__box {
		height: 56px;
		padding: 42px;
	}
	.tree{
		390px
	}
	.footer__box {
		margin: 30px 0 20px;
	}
}
@media screen and (min-width: 1440px) {
	.header__container {
		height: 800px;
		background-image: url(./images/ban1440.png);
	}
	.footer__text {
		font-size: 14px;
		line-height: 18px;
	}
	.footer__box {
		margin: 50px 0 20px;
	}
}

@media screen and (min-width: 1920px) {
	.header__container {
		height: 920px;
		background-image: url(./images/ban1920.png);
	}
	.footer__box {
		margin: 70px 0 20px;
	}
}
