@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
.prime__flex {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--base);
	color: var(--basetext);
	font-family: "Montserrat", sans-serif;
}
.wrapper {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}
.content {
	flex: auto;
}
.logo__box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
}
.logo {
	display: block;
	width: 93.74px;
	height: 44.18px;
	background-image: url(./images/Logo.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.footer {
	&__text {
		font-weight: normal;
		font-size: 9px;
		line-height: 12px;
	}
}
.menu__container {
	display: none;
}

.footer__box {
	margin: 30px 0 24px;
}
.logos__box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
	height: 30px;

	img {
		height: 70%;
		width: auto;
		margin: 0 5px;
	}
}

@media screen and (min-width: 375px) {
	.b4 {
		bottom: 20px;
	}
}
@media screen and (min-width: 540px) {
	.wrapper {
		padding: 0 30px;
	}
	.b1 {
		background-image: url(./images/lefthero.png);
		width: 429px;
		height: 331px;
		background-size: contain;
		top: 50px;
	}
	.b2,
	.b3,
	.b4,
	.b5 {
		display: none;
	}

	.top__flex {
		align-items: flex-end;
	}
	.text__img {
		img {
			width: 262px;
			height: 33px;
		}
	}
	.damage__box {
		position: relative;
	}
	.bullet__left {
		display: block;
		width: 100px;
		height: 46px;
		background-image: url(./images/bulet-l.svg);
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		left: -51px;
		top: -23px;
	}
	.t__title {
		font-size: 35px;
		line-height: 42px;
	}
	.w__title {
		font-size: 26px;
		line-height: 32px;
	}
	.steps__box {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	.step__item {
		flex: auto;
		justify-content: flex-start;
	}
	.text {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.uno,
	.mid,
	.fin {
		white-space: nowrap;
		// .arr {
		// 	order: 2;
		// }
	}
	.uno {
		.arr {
			display: none;
		}
	}
	.fin {
		justify-content: flex-end;
		.last {
			display: block;
			transform: scale(-1);
			margin-top: 5px;
			margin-left: 10px;
		}
	}
	.uno,
	.mid {
		.text {
			&::before {
				width: 12px;
				height: 14.2px;
				top: 12px;
			}
		}
		.big {
			padding-left: 15px;
		}
	}
	.big {
		font-size: 17px;
		line-height: 21px;
	}
	.small {
		font-size: 10px;
		line-height: 12px;
	}
	.bonus__small {
		font-size: 14px;
		line-height: 18px;
	}
	.bonus__big {
		font-size: 18px;
		line-height: 20px;
	}
	.text {
		padding-left: 0;
	}
	.three {
		padding-left: 20px;
		justify-content: center;
		&::before {
			width: 12px;
			height: 14.2px;
			top: 15px;
		}
	}
}
@media screen and (min-width: 768px) {
	.b2 {
		display: block;
		background-image: url(./images/righthero.png);
		background-position: bottom 60px right;
		background-size: 276px;
	}
	.top__flex {
		align-items: center;
	}
	.t__title {
		font-size: 33px;
		line-height: 40px;
	}
	.damage__text {
		font-size: 25px;
		line-height: 30px;
	}
	.bullet__right {
		display: block;
		width: 100px;
		height: 46px;
		background-image: url(./images/bulet-r.svg);
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		right: -100px;
		top: -15px;
	}
	.uno,
	.mid {
		.text {
		}
		.big {
			padding-left: 15px;
		}
	}
	.big {
		font-size: 22px;
		line-height: 27px;
	}
	.small {
		font-size: 16px;
		line-height: 20px;
	}
	.uno,
	.mid {
		.text {
			&::before {
				top: 9px;
			}
		}
	}
	.three {
		&::before {
			width: 17.6px;
			height: 21px;
			top: 15px;
		}
	}
	.footer__text {
		font-size: 12px;
		line-height: 15px;
	}
	.logos__box {
		height: 41px;
	}
}
@media screen and (min-width: 1024px) {
	.backdrop {
		width: 500px;
		height: 100%;
		margin: 0 auto;
		position: relative;
		.logo {
			z-index: 1;
		}
		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			background: linear-gradient(154.37deg, #171139 0.71%, #06031736 97.77%);
			transform: skewX(-8deg);
		}
	}
	.banner {
		height: 550px;
	}
	.text__img {
		img {
			width: 381px;
			height: 39px;
		}
	}

	.text__box {
		margin: 35px auto 40px;
	}
	.t__title {
		font-size: 40px;
		line-height: 49px;
	}
	.b1 {
		width: 100%;
		height: 100%;
		background-size: 400px;
		background-position: bottom 0px left;
		top: 0;
	}
	.b2 {
		background-size: 410px;
		background-position: bottom 60px right;
	}
	.arr {
		flex: 0 0 55px;
		width: 55px;
		height: 72px;
	}

	.small {
		font-size: 22px;
		line-height: 27px;
	}
	.uno,
	.mid {
		.text {
			&::before {
				top: 15px;
				width: 16px;
				height: 21px;
			}
		}
		.big {
			padding-left: 20px;
		}
	}
	.three {
		padding-left: 30px;
		&::before {
			top: 30px;
		}
	}
	.menu__container {
		display: block;
		margin: 0 auto 25px;
	}
	.menu__flex {
		display: flex;
		justify-content: space-around;
	}
	.menu__item {
		font-weight: 600;
		font-size: 11px;
		line-height: 13px;
		color: var(--lblind);
		text-transform: uppercase;
		margin: 0 10px;
	}
	.logos__box {
		height: 56px;
	}

	.footer__box {
		margin: 30px 0 20px;
	}
}
@media screen and (min-width: 1440px) {
	.banner {
		height: 679px;
	}
	.backdrop {
		width: 600px;
	}
	.b1 {
		background-size: 462px;
		background-position: top 0 left 0;
	}
	.b2 {
		background-image: url(./images/rightherobig.png);
		background-position: top 0 right 0;
		background-size: 530px;
	}
	.top__flex {
		padding: 85px 0 0;
	}
	.text__img {
		img {
			width: 508px;
			height: 51px;
		}
	}
	.damage__text {
		font-size: 42px;
		line-height: 51px;
		&::before,
		&::after {
			width: 45px;
		}
	}
	.t__title {
		font-size: 52px;
		line-height: 63px;
	}
	.join__button {
		height: 72px;
		padding: 0 50px;
		font-size: 30px;
		line-height: 37px;
	}
	.w__title {
		font-size: 36px;
		line-height: 44px;
	}
	.uno,
	.mid {
		.text {
			&::before {
				top: 19px;
			}
		}
		.big {
			padding-left: 20px;
		}
	}
	.three {
		padding-left: 50px;
		&::before {
			width: 34.28px;
			height: 40.79px;
		}
	}
	.bonus__small {
		font-size: 32px;
		line-height: 39px;
	}
	.bonus__big {
		font-size: 41px;
		line-height: 50px;
	}
	.menu__item {
		font-size: 12px;
		line-height: 15px;
	}
	.footer__text {
		font-size: 14px;
		line-height: 18px;
	}
	.footer__box {
		margin: 50px 0 20px;
	}
}

@media screen and (min-width: 1920px) {
	.banner {
		height: 730px;
	}
	.logo__box {
		padding: 25px;
	}
	.logo {
		width: 121.26px;
		height: 57.15px;
	}
	.b1 {
		background-size: 585px;
	}
	.b2 {
		background-size: 700px;
	}
	.top__flex {
		padding: 70px 0 0;
	}
	.text__box {
		padding: 0;
	}
	.t__title {
		font-size: 62px;
		line-height: 76px;
	}
	.mid {
		.arr {
			display: none;
		}
	}
	.next__step {
		display: block;
		flex: 0 0 108px;
		height: 72px;
		background-image: url(./images/nextstep.svg);
		background-repeat: no-repeat;
		background-size: 100%;
		margin-top: 8px;
	}
	.menu__container {
		margin-bottom: 45px;
	}
	.footer__box {
		margin: 70px 0 20px;
	}
}
