@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
.prime__flex {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--base);
	color: var(--basetext);
	font-family: "Montserrat", sans-serif;
	background-image: url(./images/bg30.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.wrapper {
	padding: 0 15px;
}
.content {
	flex: auto;
}
.logo__box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
}
.logo {
	display: block;
	width: 93.74px;
	height: 44.18px;
	background-image: url(./images/Logo.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.banner {
	// background-image: url(./images/tff.png), url(./images/boom.png), url(./images/gala.png), url(./images/tffw.png),
	// 	url(./images/super.png);
	// background-repeat: no-repeat;
	// background-position: left -15px bottom 0, left 0 bottom 0, left 0 top 0, right 0 bottom 20px, right 0 top 0;
	width: 100%;
	height: 400px;
	position: relative;
}
.b1 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(./images/tff.png);
	background-position: left -15px bottom 0;
	background-repeat: no-repeat;
	z-index: 3;
}
.b2 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(./images/boom.png);
	background-position: left 0 bottom 0;
	background-repeat: no-repeat;
	z-index: 2;
}
.b3 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(./images/gala.png);
	background-position: left 0 top 60px;
	background-repeat: no-repeat;
	z-index: 1;
}
.b4 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(./images/tffw.png);
	background-position: right 0 bottom 20px;
	background-repeat: no-repeat;
	z-index: 5;
}
.b5 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(./images/super.png);
	background-position: right 0 top 60px;
	background-repeat: no-repeat;
	z-index: 4;
}
.top__flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 50px 0 80px;
	z-index: 6;
	position: relative;
}
.text__img {
	img {
		display: block;
		width: 241.31px;
		height: 25px;
	}
}
.text__box {
	padding: 15px 0 25px;
}
.t {
	&__title {
		font-style: italic;
		font-weight: 900;
		font-size: 25px;
		line-height: 35px;
		text-align: center;
		color: var(--yellow);
		text-shadow: 0px 0px 1px #ffbc0d, 0px 0px 3px rgba(255, 188, 13, 0.4), 0px 0px 9px rgba(255, 188, 13, 0.4);
	}
}
.button {
	&__box {
	}
}
.join__button {
	height: 55px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
	border-radius: 3px;
	text-transform: uppercase;
	background-color: var(--yellow);
	color: var(--base);
	font-weight: 600;
	font-size: 25px;
}
.how {
	&__title {
		display: flex;
		justify-content: center;
		position: relative;
		z-index: 7;
	}
}
.w {
	&__title {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #e4e4e4;
		position: relative;
		top: -20px;
		&::first-letter {
			text-transform: uppercase;
		}
	}
}
.steps__box {
	color: var(--yellow);
}
.step__item {
	display: flex;
	margin-bottom: 20px;
}
.arr {
	flex: 0 0 28px;
	height: 40px;
	background-image: url(./images/arr.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 8px;
}
.text {
	position: relative;
	padding-left: 40px;
	margin-left: 10px;
	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 7px;
		width: 34px;
		height: 40px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: left;
	}
}
.one {
	&::before {
		background-image: url(./images/one.svg);
	}
}
.two {
	&::before {
		background-image: url(./images/two.svg);
	}
}
.three {
	&::before {
		background-image: url(./images/three.svg);
	}
}
.big {
	font-style: italic;
	font-weight: bold;
	font-size: 27px;
	line-height: 33px;
	&::first-letter {
		text-transform: uppercase;
	}
}
.small {
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 21px;
	&::first-letter {
		text-transform: uppercase;
	}
}
.bonus {
	&__small {
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		&::first-letter {
			text-transform: uppercase;
		}
	}

	&__big {
		font-style: normal;
		font-weight: bold;
		font-size: 27px;
		line-height: 28px;
		text-transform: uppercase;
	}
}
.footer {
	&__text {
		font-weight: normal;
		font-size: 9px;
		line-height: 12px;
	}
}
.menu__container {
	display: none;
}
.logos__box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
	height: 30px;
	img {
		height: 100%;
		width: auto;
		margin: 0 5px;
	}
}

@media screen and (min-width: 375px) {
	.b4 {
		bottom: 20px;
	}
}
@media screen and (min-width: 540px) {
	.wrapper {
		padding: 0 30px;
	}
	.b1 {
		background-image: url(./images/lefthero.png);
		width: 429px;
		height: 331px;
		background-size: contain;
		top: 50px;
	}
	.b2,
	.b3,
	.b4,
	.b5 {
		display: none;
	}

	.top__flex {
		align-items: flex-end;
	}
	.text__img {
		img {
			width: 262px;
			height: 33px;
		}
	}
	.t__title {
		font-size: 35px;
		line-height: 42px;
	}
	.w__title {
		font-size: 26px;
		line-height: 32px;
	}
	.steps__box {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	.step__item {
		flex: auto;
	}
	.text {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.uno,
	.mid,
	.fin {
		white-space: nowrap;
		.arr {
			order: 2;
		}
	}
	.fin {
		justify-content: flex-end;
		.arr {
			transform: scale(-1);
			margin-top: 5px;
			margin-left: 10px;
		}
	}
	.uno,
	.mid {
		.text {
			margin-right: 30px;
			&::before {
				width: 12px;
				height: 14.2px;
				top: 12px;
			}
		}
		.big {
			padding-left: 15px;
		}
	}
	.big {
		font-size: 17px;
		line-height: 21px;
	}
	.small {
		font-size: 10px;
		line-height: 12px;
	}
	.bonus__small {
		font-size: 14px;
		line-height: 18px;
	}
	.bonus__big {
		font-size: 18px;
		line-height: 20px;
	}
	.text {
		padding-left: 0;
	}
	.three {
		padding-left: 20px;
		justify-content: center;
		&::before {
			width: 12px;
			height: 14.2px;
			top: 15px;
		}
	}
}
@media screen and (min-width: 768px) {
	.b2 {
		display: block;
		background-image: url(./images/righthero.png);
		background-position: bottom 60px right;
		background-size: 276px;
	}
	.top__flex {
		align-items: center;
	}
	.t__title {
		font-size: 33px;
		line-height: 40px;
	}
	.uno,
	.mid {
		.text {
			margin-right: 80px;
		}
		.big {
			padding-left: 15px;
		}
	}
	.big {
		font-size: 22px;
		line-height: 27px;
	}
	.small {
		font-size: 16px;
		line-height: 20px;
	}
	.uno,
	.mid {
		.text {
			&::before {
				top: 9px;
			}
		}
	}
	.three {
		&::before {
			width: 17.6px;
			height: 21px;
			top: 15px;
		}
	}
	.footer__text {
		font-size: 12px;
		line-height: 15px;
	}
	.logos__box {
		height: 41px;
	}
}
@media screen and (min-width: 1024px) {
	.backdrop {
		width: 500px;
		margin: 0 auto;
		position: relative;
		.logo {
			z-index: 1;
		}
		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			background: linear-gradient(154.37deg, #171139 0.71%, #06031736 97.77%);
			transform: skewX(-8deg);
		}
	}
	.banner {
		height: 550px;
	}
	.text__img {
		img {
			width: 381px;
			height: 39px;
		}
	}
	.text__box {
		margin: 35px auto 40px;
	}
	.t__title {
		font-size: 40px;
		line-height: 49px;
	}
	.b1 {
		width: 100%;
		height: 100%;
		background-size: 400px;
		background-position: bottom 0px left;
		top: 0;
	}
	.b2 {
		background-size: 430px;
		background-position: bottom 60px right;
	}
	.arr {
		flex: 0 0 55px;
		height: 72px;
	}

	.small {
		font-size: 22px;
		line-height: 27px;
	}
	.uno,
	.mid {
		.text {
			margin-right: 100px;
			&::before {
				top: 15px;
				width: 16px;
				height: 21px;
			}
		}
		.big {
			padding-left: 20px;
		}
	}
	.three {
		padding-left: 30px;
		&::before {
			top: 30px;
		}
	}
	.menu__container {
		display: block;
		margin: 0 auto 25px;
	}
	.menu__flex {
		display: flex;
		justify-content: space-around;
	}
	.menu__item {
		font-weight: 600;
		font-size: 11px;
		line-height: 13px;
		color: var(--lblind);
		text-transform: uppercase;
		margin: 0 10px;
	}
	.logos__box {
		height: 56px;
	}
}
