@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
.prime__flex {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--base);
	color: var(--basetext);
	font-family: "Inter", sans-serif;
}
.wrapper {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}
.content {
	flex: auto;
}
.header__container {
	height: 568px;
	width: 100%;
	background-image: url(./images/ban320.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
.logo__box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
}
.logo {
	display: block;
	width: 93.74px;
	height: 44.18px;
	background-image: url(./images/header/logo.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.header__content {
	padding: 16px;
}
.main__title {
	font-family: "Irish Grover", cursive;
	font-size: 30px;
	line-height: 35px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
.footer {
	&__text {
		font-weight: normal;
		font-size: 9px;
		line-height: 12px;
	}
}
.menu__container {
	display: none;
}

.footer__box {
	margin: 30px 0 24px;
}
.logos__box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
	height: 30px;

	img {
		height: 60%;
		width: auto;
		margin: 0 5px;
	}
}

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 540px) {
	.wrapper {
		padding: 0 30px;
	}
}
@media screen and (min-width: 768px) {
	.footer__text {
		font-size: 12px;
		line-height: 15px;
	}
	.logos__box {
		height: 41px;
	}
}
@media screen and (min-width: 1024px) {
	.logos__box {
		height: 56px;
	}

	.footer__box {
		margin: 30px 0 20px;
	}
}
@media screen and (min-width: 1440px) {
	.footer__text {
		font-size: 14px;
		line-height: 18px;
	}
	.footer__box {
		margin: 50px 0 20px;
	}
}

@media screen and (min-width: 1920px) {
	.footer__box {
		margin: 70px 0 20px;
	}
}
