@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
.prime__flex {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--base);
	color: var(--basetext);
	font-family: "Montserrat", sans-serif;
}
.wrapper {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}
.content {
	flex: auto;
}
.header__cont{
	
}
.logo__box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
}
.logo {
	display: block;
	width: 93.74px;
	height: 44.18px;
	background-image: url(./images/Logo.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.footer {
	&__text {
		font-weight: normal;
		font-size: 9px;
		line-height: 12px;
	}
}
.menu__container {
	display: none;
}

.footer__box {
	margin: 30px 0 24px;
}
.logos__box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
	height: 30px;

	img {
		height: 60%;
		width: auto;
		margin: 0 5px;
	}
}

@media screen and (min-width: 375px) {

}
@media screen and (min-width: 540px) {
	.wrapper {
		padding: 0 30px;
	}
	
}
@media screen and (min-width: 768px) {
	
	.footer__text {
		font-size: 12px;
		line-height: 15px;
	}
	.logos__box {
		height: 41px;
	}
}
@media screen and (min-width: 1024px) {
	
	.logos__box {
		height: 56px;
	}

	.footer__box {
		margin: 30px 0 20px;
	}
}
@media screen and (min-width: 1440px) {
	
	.footer__text {
		font-size: 14px;
		line-height: 18px;
	}
	.footer__box {
		margin: 50px 0 20px;
	}
}

@media screen and (min-width: 1920px) {
	   
	.footer__box {
		margin: 70px 0 20px;
	}
}
