@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
.prime__flex {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--base);
	color: var(--basetext);
	font-family: "Inter", sans-serif;
}
.wrapper {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}
.content {
	flex: auto;
}
header {
	position: relative;
}
.header__container {
	height: 568px;
	width: 100%;
	background-image: url(./images/ban320.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
.logo__box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
}
.logo {
	display: block;
	width: 93.74px;
	height: 44.18px;
	background-image: url(./images/header/logo.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.header__content {
	padding: 16px;
}
.tree {
	display: none;
	z-index: 3;
}
.deer__one {
	width: 146px;
	height: 194px;
	background-image: url(./images/header/deer1s.png);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
	position: absolute;
	right: 0;
	bottom: 40px;
}
.deer__two {
	display: none;
	width: 350px;
	height: 350px;
	background-image: url(./images/header/deer2.png);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
	position: absolute;
	right: 0px;
	bottom: 100px;
}
.main__title {
	font-family: "Irish Grover", cursive;
	font-size: 30px;
	line-height: 35px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.sub__titile {
	font-weight: 600;
	font-size: 17px;
	line-height: 150%;
	margin-bottom: 8px;
}
.small__title {
	font-weight: 600;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 0.04em;
	margin-bottom: 30px;
}
.button__flex {
}
.red__button,
.black__button {
	display: flex;
	min-width: 180px;
	justify-content: center;
	align-items: center;
	height: 43px;
	padding: 0 1.5em;
	border: solid 3px;
	font-weight: 900;
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 18px;
	text-transform: uppercase;
	background-color: #ffffff;
}
.red__button {
	border-color: #aa170c;
	box-shadow: 4px 4px 0px #aa170c;
	color: #aa170c;
}
.black__button {
	border-color: #000000;
	box-shadow: 4px 4px 0px #000000;
	color: #000000;
}

.footer {
	&__text {
		font-weight: normal;
		font-size: 9px;
		line-height: 12px;
	}
}
.menu__container {
	display: none;
}

//------2-------
.steps__box {
	width: 100%;
	height: 579px;
	background-image: url(./images/cloud320.png);
	background-size: 95% 100%;
	background-repeat: no-repeat;
	background-position: top right;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 25px;
	padding: 0 16px;
}
.step {
	display: flex;
	align-items: center;
}
.s2 {
	position: relative;
	left: -50px;
}
.gift {
	display: block;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center right;
	background-size: contain;
	margin-right: 10px;
}
.g1 {
	background-image: url(./images/g1.png);
}
.g2 {
	background-image: url(./images/g2.png);
}
.g3 {
	background-image: url(./images/g3.png);
}
.g4 {
	background-image: url(./images/g4.png);
}
.step__num {
	font-family: "Irish Grover", cursive;
	font-weight: normal;
	font-size: 50px;
	line-height: 54px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
.red {
	color: #aa170c;
}
.blue {
	color: #448b91;
}
.yellow {
	color: #f8b229;
}
.green {
	color: #287f4b;
}
.step__text {
	font-family: "Irish Grover", cursive;
	font-weight: normal;
	font-size: 15px;
	line-height: 23px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
.fworks {
	position: absolute;
	width: 218.69px;
	height: 197.06px;
	background: url(./images/Fireworks.png);
	background-size: contain;
	background-repeat: no-repeat;
	top: 20px;
	left: 0;
}
.cristmas__car {
	position: absolute;
	width: 233px;
	height: 260px;
	background: url(./images/ccar.png);
	background-size: contain;
	background-repeat: no-repeat;
	bottom: -90px;
	left: 0;
	z-index: 1;
}
//-------vilage-------
.vilage {
	width: 100%;
	height: 569px;
	background-image: url(./images/vilage/v320.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 78px 0 40px;
	position: relative;
}
.top__grad {
	width: 100%;
	height: 90px;
	background: linear-gradient(180deg, #011032 25%, rgba(1, 16, 50, 0) 100%);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.bottom__grad {
	width: 100%;
	height: 90px;
	background: linear-gradient(0deg, #011032 25%, rgba(1, 16, 50, 0) 100%);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.lucky__title {
	font-family: "Irish Grover", cursive;
	font-weight: normal;
	font-size: 20px;
	line-height: 31px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #ffffff;
}
.moneybag {
	width: 235px;
	height: 236px;
	background-image: url(./images/vilage/moneybag.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 34px;
}
// ------footer
footer {
	background-image: url(./images/footer/f320.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	.wrapper {
		padding: 65px 27px 30px;
	}
}
.footer__text {
	font-weight: normal;
	font-size: 10px;
	line-height: 127.9%;
}
.footer__box {
	margin-bottom: 30px;
}
.logos__box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	gap: 10px;
}
.fim1 {
	width: 31.68px;
	height: 24.56px;
}
.fim2 {
	width: 23px;
	height: 23px;
}
.fim3 {
	width: 53.39px;
	height: 18.51px;
}
.fim4 {
	width: 87.21px;
	height: 15.31px;
}

@media screen and (min-width: 375px) {
	.header__container {
		height: 667px;
		background-image: url(./images/ban320.png);
	}
	.bigdeer {
		width: 124px;
		height: 215px;
		bottom: 220px;
		right: -21px;
	}
	//---------steps-----
	.steps__box {
		height: 735px;
		background-image: url(./images/cloud375.png);
	}
	//-------vilage-------
	.vilage {
		height: 667px;
		background-image: url(./images/vilage/v375.png);
	}
	// ------footer
	footer {
		background-image: url(./images/footer/f375.png);
		.wrapper {
			padding: 65px 55px 30px;
		}
	}
}
@media screen and (min-width: 540px) {
	.wrapper {
		padding: 0 30px;
	}
	.header__container {
		height: 659px;
		background-image: url(./images/ban540.png);
	}
	.header__content {
		padding: 0 32px;
	}
	.tree {
		display: block;
		background-image: url(./images/header/tree.png);
		background-repeat: no-repeat;
		background-size: contain;
		height: 100%;
		width: 350px;
		position: absolute;
		right: -140px;
		bottom: 0;
		background-position: bottom right;
	}
	.deer__one {
		width: 180px;
		height: 180px;
		right: 95px;
		bottom: 270px;
	}
	//---------steps-----
	.steps__box {
		height: 591px;
		background-image: url(./images/cloud540.png);
	}
	//-------vilage-------
	.vilage {
		height: 490px;
		background-image: url(./images/vilage/v540.png);
	}
	// ------footer
	footer {
		background-image: url(./images/footer/f540.png);
		.wrapper {
			padding: 65px 82px 30px;
		}
	}
}
@media screen and (min-width: 768px) {
	.header__container {
		height: 490px;
		background-image: url(./images/ban768.png);
	}
	.button__flex {
		display: flex;
	}
	.red__button {
		margin-right: 18px;
	}
	.tree {
		right: 0;
		width: 250px;
	}
	.deer__one {
		right: 180px;
		bottom: 200px;
	}

	.footer__text {
		font-size: 12px;
		line-height: 15px;
	}
	.logos__box {
		height: 41px;
	}
	//---------steps-----
	.steps__box {
		height: 554px;
		background-image: url(./images/cloud768.png    );
	}
	//-------vilage-------
	.vilage {
		height: 490px;
		background-image: url(./images/vilage/v768.png);
	}
	.moneybag {
		width: 267px;
		height: 268px;
	}
	// ------footer
	footer {
		background-image: url(./images/footer/f768.png);
	}
	.footer__text {
		font-weight: normal;
		font-size: 14px;
		line-height: 127.9%;
	}
	.logos__box {
		gap: 18px;
	}
	.fim1 {
		width: 51.96px;
		height: 40.28px;
	}
	.fim2 {
		width: 38.08px;
		height: 38.08px;
	}
	.fim3 {
		width: 86.97px;
		height: 27.02px;
	}
	.fim4 {
		width: 135.95px;
		height: 17.73px;
	}
}
@media screen and (min-width: 1024px) {
	.header__container {
		height: 800px;
		background-image: url(./images/ban1024.png);
	}
	.header__content {
		width: 100%;
		max-width: 1214px;
		margin: 0 auto;
		padding: 32px;
	}
	.logo__box {
		height: 56px;
		padding: 42px;
	}
	.main__title {
		font-weight: normal;
		font-size: 40px;
		line-height: 63px;
		letter-spacing: 0.04em;
	}
	.sub__titile {
		font-weight: 600;
		font-size: 29px;
		line-height: 150%;
		/* or 43px */
	}
	.small__title {
		font-weight: 500;
		font-size: 23px;
		line-height: 150%;
		margin-bottom: 40px;
	}
	.red__button,
	.black__button {
		height: 57px;
		font-weight: 900;
		font-size: 19px;
	}
	.red__button {
		margin-right: 24px;
	}
	.tree {
		width: 390px;
	}

	.deer__one {
		width: 250px;
		height: 250px;
		right: 295px;
		bottom: 355px;
	}
	//---------steps-----
	.steps__box {
		height: 735px;
		background-image: url(./images/cloud1024.png);
	}
	//-------vilage-------
	.vilage {
		height: 800px;
		background-image: url(./images/vilage/v1024.png);
	}

	.moneybag {
		width: 374px;
		height: 375px;
		padding-bottom: 80px;
	}
	// ------footer
	footer {
		background-image: url(./images/footer/f1024.png);
		.wrapper {
			padding: 65px 30px 30px;
		}
	}
	.footer__text {
		font-weight: normal;
		font-size: 17px;
		line-height: 127.9%;
	}
	.logos__box {
		gap: 24px;
	}
	.fim1 {
		width: 65.91px;
		height: 51.1px;
	}
	.fim2 {
		width: 48.3px;
		height: 48.3px;
	}
	.fim3 {
		width: 111.08px;
		height: 38.51px;
	}
	.fim4 {
		width: 181.43px;
		height: 31.84px;
	}
}
@media screen and (min-width: 1440px) {
	.header__container {
		height: 800px;
		background-image: url(./images/ban1440.png);
	}
	.red__button,
	.black__button {
		height: 76px;
		border-width: 8px;
		font-size: 25px;
	}
	.red__button {
		margin-right: 48px;
	}
	//-------vilage-------
	.vilage {
		height: 800px;
		background-image: url(./images/vilage/v1440.png);
	}
	.lucky__title {
		font-size: 45px;
		line-height: 70px;
		letter-spacing: 0.04em;
	}
	.moneybag {
		width: 430px;
		height: 431px;
	}

	// ------footer
	footer {
		background-image: url(./images/footer/f1440.png);
		.wrapper {
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
			padding: 65px 0px 30px;
		}
	}
	.logos__box {
		gap: 32px;
	}
	.fim1 {
		width: 89px;
		height: 69px;
	}
	.fim2 {
		width: 65.23px;
		height: 65.23px;
	}
	.fim3 {
		width: 150px;
		height: 52px;
	}
	.fim4 {
		width: 245px;
		height: 43px;
	}
}

@media screen and (min-width: 1920px) {
	.header__container {
		height: 920px;
		background-image: url(./images/ban1920.png);
	}
	.header__content {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0;
	}
	.main__title {
		font-weight: normal;
		font-size: 50px;
		line-height: 78px;
		letter-spacing: 0.04em;
	}
	.sub__titile {
		font-weight: 600;
		font-size: 38px;
	}
	.small__title {
		font-weight: 500;
		font-size: 28px;
	}
	.red__button,
	.black__button {
		height: 86px;
		border-width: 14px;
		font-size: 30 px;
	}
	.red__button {
		margin-right: 28 px;
	}
	//-------vilage-------
	.vilage {
		height: 920px;
		background-image: url(./images/vilage/v1920.png);
	}
	.lucky__title {
		font-size: 50px;
		line-height: 78px;
	}
	.moneybag {
		width: 660px;
		height: 661px;
		padding-bottom: 150px;
	}
}
