@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
.prime__flex {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--base);
	color: var(--basetext);
	font-family: "Montserrat", sans-serif;
}

.content {
	flex: auto;
}
.logo__box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
}
.logo {
	display: block;
	width: 93.74px;
	height: 44.18px;
	background-image: url(./images/Logo.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.banner {
	background-image: url(./images/gala.png), url(./images/boom.png), url(./images/boom.png), url(./images/boom.png);
	background-repeat: no-repeat, no-repeat;
	background-position: left 0 top 0, left 0 bottom 0;
}
.top {
	&__flex {
	}
}
.text {
	&__img {
	}

	&__box {
	}
}
.t {
	&__title {
	}
}
.button {
	&__box {
	}
}
.join {
	&__button {
	}
}
.how {
	&__title {
	}
}
.w {
	&__title {
	}
}
.steps {
	&__box {
	}
}
.step {
	&__item {
	}
}
.big {
}
.small {
}
.bonus {
	&__small {
	}

	&__big {
	}
}
.footer {
	&__text {
	}
}
.logos {
	&__box {
	}
}
